 .u-section-1 {
  min-height: 938px;
}

.u-section-1 .u-shape-1 {
  height: 440px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

.u-section-1 .u-image-1 {
  width: 682px;
  min-height: 561px;
  background-image: url("images/pattern_100_150.png");
  background-position: 50% 50%;
  height: auto;
  margin: -251px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-image-2 {
  width: 970px;
  height: 647px;
  margin: -749px auto 0;
}

.u-section-1 .u-group-2 {
  min-height: 365px;
  width: 621px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  height: auto;
  margin: -220px calc(((100% - 1140px) / 2)) 60px auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 40px;
}

.u-section-1 .u-text-1 {
  font-size: 3.75rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  margin: 16px 0 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 828px;
  }

  .u-section-1 .u-shape-1 {
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    margin-left: calc(((100% - 940px) / 2));
    height: auto;
  }

  .u-section-1 .u-image-2 {
    width: 778px;
    height: 627px;
  }

  .u-section-1 .u-group-2 {
    margin-top: -200px;
    margin-right: calc(((100% - 940px) / 2));
    margin-bottom: 35px;
    height: auto;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 654px;
  }

  .u-section-1 .u-shape-1 {
    height: 318px;
    margin-left: initial;
  }

  .u-section-1 .u-image-1 {
    width: 548px;
    min-height: 310px;
    margin-top: -163px;
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 553px;
    height: 399px;
    margin-top: -465px;
    margin-left: calc(((100% - 720px) / 2) + 59px);
  }

  .u-section-1 .u-group-2 {
    min-height: 338px;
    margin-top: -113px;
    margin-right: calc(((100% - 720px) / 2));
    margin-bottom: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 690px;
  }

  .u-section-1 .u-image-1 {
    width: 502px;
    min-height: 288px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-2 {
    width: 503px;
    height: 390px;
    margin-top: -443px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 381px;
    width: 457px;
    margin-top: -104px;
    margin-right: calc(((100% - 540px) / 2));
    margin-bottom: 23px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 763px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    margin-top: -148px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 256px;
    margin-right: auto;
  }

  .u-section-1 .u-group-2 {
    min-height: 441px;
    width: 340px;
    margin-top: 31px;
    margin-right: auto;
    margin-bottom: 20px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 611px;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  font-weight: 700;
  width: 619px;
  margin: 70px auto 0;
}

.u-section-2 .u-list-1 {
  margin-top: 44px;
  margin-bottom: 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 305px;
  grid-gap: 10px;
}

.u-section-2 .u-list-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 10px;
}

.u-section-2 .u-image-1 {
  height: 223px;
  width: 223px;
  background-image: url("images/tete.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-image-2 {
  height: 223px;
  width: 223px;
  background-image: url("images/tete.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 10px;
}

.u-section-2 .u-image-3 {
  height: 223px;
  width: 223px;
  background-image: url("images/tete.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-list-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-image-4 {
  height: 223px;
  width: 223px;
  background-image: url("images/tete.PNG");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 35px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 250px;
  }

  .u-section-2 .u-image-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-3 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-4 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 848px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 0;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 668px;
  }

  .u-section-2 .u-image-1 {
    height: 246px;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-2 {
    height: 246px;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-3 {
    height: 246px;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-image-4 {
    height: 246px;
    width: 246px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1518px;
  }

  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1308px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1592px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 59px;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 54px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 835px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 541px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 59px auto 0;
}

.u-section-3 .u-text-2 {
  width: 270px;
  margin: 34px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 431px;
  background-image: url("images/cuc-rugby-equipe-juniors-equipe-coachs-2019-2020.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-3 .u-image-1 {
    min-height: 355px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-image-1 {
    min-height: 272px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 690px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 232px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 408px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 539px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-image-1 {
    min-height: 257px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 572px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 29px 135px 0 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  margin: 21px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 572px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-1 {
  height: 512px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 4px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 472px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 35px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 532px;
  }

  .u-section-4 .u-image-1 {
    height: 472px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -106px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 493px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 28px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-right: 0;
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 493px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-bottom: 28px;
  }

  .u-section-4 .u-image-1 {
    height: 435px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 708px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 323px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 285px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    height: 207px;
    object-position: 50% 35.92%;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-4 .u-image-1 {
    height: 127px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 564px;
}

.u-section-5 .u-text-1 {
  margin: 60px auto 0;
}

.u-section-5 .u-gallery-1 {
  margin-top: 30px;
  margin-bottom: 60px;
  height: 375px;
}

.u-section-5 .u-gallery-item-1 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-1 {
  width: 375px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-2 {
  width: 375px;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-3 {
  width: 375px;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-right: 10px;
}

.u-section-5 .u-back-image-4 {
  width: 375px;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 168px;
}

.u-section-5 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}